/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav-bg-color {
    background-color: #C4A482;
}

.navbar-nav .nav-link:hover {
    color: #FFFDD0;
}

body {
    font-family: "Poppins", sans-serif;
}


div p {
    text-align: center;
}

header {
    margin-top: 57px;
    width: 100%;
    background-color: #F0EAD6;
}

main {
    background-color: #F0EAD6;
}

#conditions {
    padding-top: 1rem;
}

#resources {
    padding-top: 1rem;
}

#home,
#about,
#resources,
#conditions,
#contact {
    scroll-margin-top: 50px;
}

#social-networks {
    justify-content: space-evenly;
}

#social-networks a {
    font-size: 200%;
    color: black;
}


footer {
    background-color: #C4A482;
    font-size: 120%;
}

#follow {
    justify-content: flex-end;
}

h1, 
h2, 
h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}


a.btn.custom-button-filled {
    background-color: #C4A482;
    color: black;
}

a.btn.custom-button-filled:hover {
    background-color: #FFFDD0;
    color: black;;
    color: black;
}

button.custom-button-filled {
    background-color: #C4A482;
    color: black;
}

button.custom-button-filled:hover {
    background-color: #FFFDD0;
    color: black;
}



@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #333333;
    }
}

@media screen and (min-width: 1200px) {
    #conditions .card-text {
        min-height: auto;
    }
}